* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 10px;
}

input,
textarea,
select {
  display: block;
  width: 400px;
  height: 50px;
  margin-bottom: 15px;
  font-family: "Times New Roman", Times, serif;
}

textarea {
  height: 200px;
  resize: none;
}

.alert {
  width: 400px;
  padding: 15px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.alert_success {
  background: #84c652;
}

.alert_error {
  background: #c65252;
}
